@model DesignPattern.Facade.DAL.Order
@{
    ViewData["Title"] = "OrderStart";
    Layout = "~/Views/Shared/_FacadeLayout.cshtml";
}

<h1>Sipariş Detay Sayfası</h1>

<div class="container">
    <form method="post">
        <label>Müşteri Id</label>
        <input type="text" asp-for="CustomerId" class="form-control" />
        <br />
        <button class="btn btn-primary">Sipariş Oluştur</button>
    </form>
</div>